* {
    background-color: #ffedf7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header, nav, main, footer {
    padding: 10px;
}

header {
    display: flex;
}

.logo {
    width: 25%;
    text-align: center;
}

.logo img{
    height: 100px;
    margin: 5px;
}

.welcome {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;

}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #ff7d7d;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: rgb(5, 0, 0);
    text-decoration: none;
    padding: 5px;
    background-color: #ff7d7d;
}

nav ul li a:hover {
    background-color: #ff5656;
    color: black;
}

.container{
    display: flex;
}

.events {
    width: 25%;
    background-color: #ffdaf0;
    padding: 10px;
}

p{
    text-indent: 35px;
    padding-left: 10px;
}

h2{
    padding-left: 10px;
}

.content {
    width: 75%;
    padding: 10px;
    background-color: #ffcceb;
    font-size: 1.2rem;
}

.content_about {
    width: 100%;
    padding: 10px;
    background-color: #ffcceb;
    font-size: 1.2rem;
}

.content_contact {
    width: 100%;
    padding: 10px;
    background-color: #ffcceb;
    font-size: 1.2rem;
}

.content_services {
    width: 100%;
    padding: 10px;
    background-color: #ffcceb;
    font-size: 1.2rem;
}

main section ul li {
    padding: 0px 10px 0px 10px;
    list-style: none;
}

.news {
    width: 25%;
    background-color: #ffdaf0;
    padding: 10px;
}

.gallery img {
    width: 31.5%;
    margin: 5px;
    transition: transform 0.3s, filter 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

footer {
    display: flex;
    justify-content: right;
    width: 100%;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header, nav ul, footer {
        flex-direction: column;
        align-items: center;
    }
    
    p{
        padding: 0px 20px 30px 40px;
    }

    .logo, .welcome {
        width: 100%;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .container {
        text-align: center;
        flex-direction: column;
        width: 100%;
    }

    .news, .content, .events {
        width: 100%;
    }

    .gallery img {
        display: flex;
        width: 50%;
        align-items: center;
        margin: 5px auto;
        transition: transform 0.3s, filter 0.3s;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}